body
{
}
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000px;
    background-color:brown;
}

li a {
    display: inline;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

//